@charset "utf-8";

body {
  margin: 0;
  background: lightgray;
}

ul,
li {
  margin: 0;
}

section {
  margin: 0;
}

textarea {
  field-sizing: content;
  box-sizing:border-box;
  min-height: 0.5em;
  max-height: 10em;
  width: 100%;
  overflow: hidden;
}

.container-size {
  width: 300px;
  box-sizing: border-box;
}

.flex-display {
  display: flex;
  flex-direction: row;
}

#add-list-parent {
  list-style: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.add-list {
  text-align: center;
  cursor: pointer;
}

.list-area {
  text-align: center;
  background: skyblue;
  margin-left: 15px;
  margin-right: 15px;
}

.add-card-enable{
  background:none;
}

.add-card-disable{
  background: blue;
}

.task-card {
  list-style: none;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(87 84 84);
  border-radius: 10px;
  background: white;
  cursor: pointer;
}

.task-name-disable{
  pointer-events: none;
}
