@charset "utf-8";

body {
  margin: 0;
  background: lightgray;
}

ul,
li {
  margin: 0;
}

section {
  margin: 0;
}

.container-size {
  width: 300px;
  box-sizing: border-box;
}

.flex-display {
  display: flex;
  flex-direction: row;
}

#add-list-parent {
  list-style: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.add-list {
  text-align: center;
  cursor: pointer;
}

.list-area {
  text-align: center;
  background: skyblue;
  margin-left: 15px;
  margin-right: 15px;
}

.task-card {
  list-style: none;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(87 84 84);
  border-radius: 10px;
  background: white;
  cursor: pointer;
}
